* {
    box-sizing: border-box;
}

:root {
    --primary-font: 'Sora', sans-serif;
}

html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

/* Common */

body {
    font-size: 1.6rem;
    background: #FFFAF5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font);
}

input,
textarea {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
    width: 1170px;
    max-width: calc(100% - 48px);
}

.btn {
    --height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 130px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid rgba(0, 9, 88, 0.7);
    border-radius: 999px;
    font-weight: 600;
    font-size: 1.4rem;
    color: #000958;
    transition: ease .2s;
}

.btn--primary {
    color: #fff;
    background: #FF5B2E;
    border-color: #FF5B2E;
}

.btn:hover {
    color: #fff;
    background: rgba(0, 9, 88, 0.7);
}

.section-heading {
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 1.19;
    color: #000958;
}

.section-desc {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

/* Header */

.header {
    padding: 26px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul {
    display: flex;
}

.navbar__link {
    padding: 8px 18px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1;
    color: #5E6085;
}

.navbar__link:hover {
    stroke-width: 1px;
    color: #000958;
    -webkit-text-stroke-width: thin;
}

.header-action__link {
    padding: 8px 18px;
    color: #5E6085;
    font-weight: 600;
    font-size: 1.4rem;
}

.header-action__btn {
    --height: 50px;
    min-width: 118px;
}

/* Hero */

.hero {
    margin-top: 74px;
}

.hero__inner {
    display: flex;
    gap: 120px;
    align-items: center;
    justify-content: space-between;
}

.hero__media {
    padding-bottom: 94px;
    display: flex;
    position: relative;
}

.hero__img-wrap {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 388px;
    height: 488px;
    border: 2px solid #fff;
    background: #FE997B;
    border-radius: 16px;
    position: relative;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 16px;
}

.hero__decor-left {
    position: absolute;
    bottom: 10px;
    left: -55px;
    z-index: -1;
}

.hero__decor-right {
    position: absolute;
    top: 16px;
    right: -42px;
    z-index: -1;
}

.hero__img-wrap--small {
    align-self: flex-end;
    margin-left: -24px;
    margin-bottom: -58px;
    background: #FAA7AD;
    border: 2px solid rgba(255, 255, 255, 0.65);
    height: 244px;
    width: 186px;
}

.hero__list {
    width: 250px;
    background: #fff;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
    border-radius: 10px;
    position: absolute;
    bottom: 0px;
    left: 129px;
}

.hero-list-item {
    padding: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.hero-list-item__thumb {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero-list-item:first-child .hero-list-item__thumb {
    background: #fec23f;
}

.hero-list-item__title {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
    color: #181E52;
}

.hero-list-item__skeleton {
    margin-top: 6px;
    width: var(--width, 118px);
    height: 4px;
    background: #000958;
    opacity: 0.08;
    border-radius: 10px;
}

.hero-list-item__seperate {
    margin: 14px;
    border: 2px solid #F2F2F2;
    border-radius: 999px;
}

.hero__heading {
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: #000958;
}

.hero__desc {
    width: 391px;
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    color: #656689;
}

.hero__row {
    margin-top: 38px;
    display: flex;
    gap: 38px;
    align-items: center;
}

.hero__cta-btn {
    min-width: 189px;
    height: 60px;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    display: flex;
    gap: 10px;
}

.hero__cta-btn:hover {
    background: #FFFAF5;
    color: #FF5B2E;
}

.hero__cta-btn:hover .btn__icon {
    background: #FF5B2E;
    color: #FFFAF5;
}

.hero__cta-btn .btn__icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: #FF5B2E;
    background: #FFFAF5;
    box-shadow: 4px 3px 10px -1px rgba(191, 41, 0, 0.4);
    border-radius: 50%;
    transition: ease .25s;
}

.hero__cta {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
    text-decoration-line: underline;
    color: #000958;
}

.hero__cta:hover {
    font-weight: 600;
}

/* About */

.about {
    padding-top: 138px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 60px;
}

.about__content {}

.about__label {
    font-family: var(--primary-font);
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5E6085;
}

.about__heading,
.about__desc {
    width: 444px;

}

.about__heading {
    margin-top: 15px;
}

.about__desc {
    margin-top: 24px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
    row-gap: 34px;
    column-gap: 36px;
}

.about__check-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1;
    color: #48496A;
    position: relative;
}

.about__check-item::before {
    content: "";
    display: inline-block;
    width: 24px;
    height: 24px;
    background: #FF5D31;
    border-radius: 4px;
}

.about__check-item::after {
    content: url(../img/check.svg);
    position: absolute;
    text-align: center;
    line-height: 24px;
    width: 24px;
    height: 24px;
    top: 0;
    left: 0;
}

.about__media {
    position: relative;
}

.about__card {
    width: 136px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px rgba(85, 240, 255, 0.17);
    border-radius: 10px;
    text-align: center;
    padding: 36px 26px;
    position: absolute;
    top: 165px;
    left: 0;
}

.about__card-title {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1;
    color: #FFFFFF;
}

.about__card-desc {
    margin-top: 14px;
    font-weight: 400;
    font-size: 1.4;
    line-height: 1.43;
    color: #C6F4F9;
}

.about__card-decor {
    position: absolute;
    top: -23px;
    right: -2px;
}

.about__img-wrap {
    position: relative;
    margin-left: auto;
    width: 494px;
    display: flex;
    justify-content: center;
}

.about__img-wrap::after {
    content: "";
    position: absolute;
    inset: auto 0 0 0;
    height: 336px;
    z-index: -1;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    border-radius: 16px;
}

.about__img {
    display: block;
    width: 450px;
}

.about__media-decor {
    position: absolute;
    top: 157px;
    right: -50px;
    z-index: -1;
}